In [1]:
!pip install mysql-connector-python sqlalchemy pandas matplotlib seaborn

Requirement already satisfied: mysql-connector-python in c:\users\aryam\miniconda3\lib\site-packages (9.0.0)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: pandas in c:\users\aryam\miniconda3\lib\site-packages (2.2.2)
Requirement already satisfied: matplotlib in c:\users\aryam\miniconda3\lib\site-packages (3.8.4)
Requirement already satisfied: seaborn in c:\users\aryam\miniconda3\lib\site-packages (0.13.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aryam\miniconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aryam\miniconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aryam\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aryam\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aryam\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aryam\miniconda3\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\aryam\miniconda3\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aryam\miniconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\aryam\miniconda3\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\aryam\miniconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\aryam\miniconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aryam\miniconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in c:\users\aryam\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.1 MB 5.3 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 9.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 7.1 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 5.8 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 5.9 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 5.9 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 3.7 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.3 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   -------------------------------- ------- 235.5/293.6 kB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 293.6/293.6 kB 3.6 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.32

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import mysql.connector as my_sqln

## Connecting Database,

In [5]:
connection = my_sql.connect(
    host = 'localhost',
    user = 'root',
    password = 'mysql',
    database = 'rentalproperty'
)

In [6]:
cursor = connection.cursor()

In [7]:
query = "SELECT * FROM PROPINFO;"

In [8]:
cursor.execute(query)

In [9]:
results = cursor.fetchall()

In [10]:
print(results)

[(2001, 1200, 1800, 2015, 'MG Road, Bangalore, Karnataka, 560001', 5, datetime.date(2024, 9, 1), 'Bangalore', 20000, 3, 1001, 1001, 1, 0), (2002, 900, 1300, 2018, 'Brigade Road, Bangalore, Karnataka, 560002', 3, datetime.date(2024, 10, 1), 'Bangalore', 15000, 2, 1002, 1002, 1, 0), (2003, 1500, 2200, 2017, 'Church Street, Bangalore, Karnataka, 560003', 4, datetime.date(2024, 11, 1), 'Bangalore', 25000, 4, 1003, 1003, 1, 0), (2004, 1100, 1600, 2020, 'Ulsoor, Bangalore, Karnataka, 560004', 2, datetime.date(2024, 12, 1), 'Bangalore', 12000, 3, 1004, 1004, 1, 0), (2005, 950, 1400, 2016, 'Jayanagar, Bangalore, Karnataka, 560005', 6, datetime.date(2024, 9, 15), 'Bangalore', 17000, 2, 1005, 1005, 1, 0), (2006, 1300, 2000, 2019, 'Koramangala, Bangalore, Karnataka, 560006', 3, datetime.date(2024, 10, 15), 'Bangalore', 23000, 3, 1006, 1006, 1, 0), (2007, 1400, 2100, 2021, 'Indiranagar, Bangalore, Karnataka, 560007', 5, datetime.date(2024, 11, 15), 'Bangalore', 24000, 4, 1007, 1007, 1, 0), (2008, 1000, 1500, 2018, 'Whitefield, Bangalore, Karnataka, 560008', 2, datetime.date(2024, 12, 15), 'Bangalore', 14000, 2, 1008, 1008, 1, 0), (2009, 1250, 1900, 2020, 'Marathahalli, Bangalore, Karnataka, 560009', 4, datetime.date(2024, 9, 30), 'Bangalore', 20000, 3, 1009, 1009, 1, 0), (2010, 1150, 1700, 2022, 'Bellandur, Bangalore, Karnataka, 560010', 6, datetime.date(2024, 10, 30), 'Bangalore', 18000, 2, 1010, 1010, 1, 0)]

In [11]:
cursor.description

[('propID', 3, None, None, None, None, 0, 53251, 63),
 ('plinth_Ar', 3, None, None, None, None, 0, 36865, 63),
 ('TotAr', 3, None, None, None, None, 0, 36865, 63),
 ('Year_of_Cons', 3, None, None, None, None, 0, 36865, 63),
 ('Addr', 253, None, None, None, None, 1, 0, 255),
 ('No_of_floor', 3, None, None, None, None, 1, 32768, 63),
 ('Date_avail', 10, None, None, None, None, 1, 128, 63),
 ('loc', 253, None, None, None, None, 1, 0, 255),
 ('rpm', 3, None, None, None, None, 1, 32768, 63),
 ('No_of_rooms', 3, None, None, None, None, 1, 32768, 63),
 ('manid', 3, None, None, None, None, 1, 49160, 63),
 ('ownid', 3, None, None, None, None, 1, 49160, 63),
 ('is_resi', 3, None, None, None, None, 1, 32768, 63),
 ('is_comer', 3, None, None, None, None, 1, 32768, 63)]

In [14]:
# Converting results to a DataFrame for easy manipulation
columns = [i[0] for i in cursor.description] #list comprehension

In [15]:
df = pd.DataFrame(results, columns = columns)

In [16]:
print(df)

   propID  plinth_Ar  TotAr  Year_of_Cons  \
0    2001       1200   1800          2015
1    2002        900   1300          2018
2    2003       1500   2200          2017
3    2004       1100   1600          2020
4    2005        950   1400          2016
5    2006       1300   2000          2019
6    2007       1400   2100          2021
7    2008       1000   1500          2018
8    2009       1250   1900          2020
9    2010       1150   1700          2022

                                          Addr  No_of_floor  Date_avail  \
0        MG Road, Bangalore, Karnataka, 560001            5  2024-09-01
1   Brigade Road, Bangalore, Karnataka, 560002            3  2024-10-01
2  Church Street, Bangalore, Karnataka, 560003            4  2024-11-01
3         Ulsoor, Bangalore, Karnataka, 560004            2  2024-12-01
4      Jayanagar, Bangalore, Karnataka, 560005            6  2024-09-15
5    Koramangala, Bangalore, Karnataka, 560006            3  2024-10-15
6    Indiranagar, Bangalore, Karnataka, 560007            5  2024-11-15
7     Whitefield, Bangalore, Karnataka, 560008            2  2024-12-15
8   Marathahalli, Bangalore, Karnataka, 560009            4  2024-09-30
9      Bellandur, Bangalore, Karnataka, 560010            6  2024-10-30

         loc    rpm  No_of_rooms  manid  ownid  is_resi  is_comer
0  Bangalore  20000            3   1001   1001        1         0
1  Bangalore  15000            2   1002   1002        1         0
2  Bangalore  25000            4   1003   1003        1         0
3  Bangalore  12000            3   1004   1004        1         0
4  Bangalore  17000            2   1005   1005        1         0
5  Bangalore  23000            3   1006   1006        1         0
6  Bangalore  24000            4   1007   1007        1         0
7  Bangalore  14000            2   1008   1008        1         0
8  Bangalore  20000            3   1009   1009        1         0
9  Bangalore  18000            2   1010   1010        1         0

In [17]:
df

,propID,plinth_Ar,TotAr,Year_of_Cons,Addr,No_of_floor,Date_avail,loc,rpm,No_of_rooms,manid,ownid,is_resi,is_comer
0,2001,1200,1800,2015,"MG Road, Bangalore, Karnataka, 560001",5,2024-09-01,Bangalore,20000,3,1001,1001,1,0
1,2002,900,1300,2018,"Brigade Road, Bangalore, Karnataka, 560002",3,2024-10-01,Bangalore,15000,2,1002,1002,1,0
2,2003,1500,2200,2017,"Church Street, Bangalore, Karnataka, 560003",4,2024-11-01,Bangalore,25000,4,1003,1003,1,0
3,2004,1100,1600,2020,"Ulsoor, Bangalore, Karnataka, 560004",2,2024-12-01,Bangalore,12000,3,1004,1004,1,0
4,2005,950,1400,2016,"Jayanagar, Bangalore, Karnataka, 560005",6,2024-09-15,Bangalore,17000,2,1005,1005,1,0
5,2006,1300,2000,2019,"Koramangala, Bangalore, Karnataka, 560006",3,2024-10-15,Bangalore,23000,3,1006,1006,1,0
6,2007,1400,2100,2021,"Indiranagar, Bangalore, Karnataka, 560007",5,2024-11-15,Bangalore,24000,4,1007,1007,1,0
7,2008,1000,1500,2018,"Whitefield, Bangalore, Karnataka, 560008",2,2024-12-15,Bangalore,14000,2,1008,1008,1,0
8,2009,1250,1900,2020,"Marathahalli, Bangalore, Karnataka, 560009",4,2024-09-30,Bangalore,20000,3,1009,1009,1,0
9,2010,1150,1700,2022,"Bellandur, Bangalore, Karnataka, 560010",6,2024-10-30,Bangalore,18000,2,1010,1010,1,0

In [18]:
cursor.close()

True

In [20]:
connection.close()

In [21]:
cursor.execute(query)

ProgrammingError: 2055: Cursor is not connected